:root {
  --heading-font: "Allerta Stencil", sans-serif;
  --content-font: "Prompt", sans-serif;
  --primary-color: #5dacbd;
  --secondary-color: #24527a;
  --secondary-color-with-opacity: #24527aa4;
  --content-color: #a7bcb9;
  --btn-text-color: #e0ebeb;
  --box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--secondary-color-with-opacity);
  max-width: 1920px;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 500;
  color: var(--primary-color);
}

p,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--content-font);
  color: var(--content-color);
  line-height: 1.5;
}

h1 {
  font-size: 90px;
}
h2 {
  font-size: 40px;
}
h2,
h3 {
  text-align: center;
  margin-top: 20px;
}

.hero p {
  font-family: var(--content-font);
  color: var(--content-color);
  line-height: 2;
}

.hero h3 {
  color: var(--content-color);
}
.hero {
  padding: 130px 0 100px 0;
  text-align: center;
  background: var(--secondary-color);
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 12px;
  color: var(--btn-text-color);
  font-size: 16px;
  line-height: 20px;
  padding: 20px 20px;
  font-family: var(--content-font);
  box-shadow: var(--box-shadow);
  min-width: 150px;
  margin: 2px;
}

.btn-branding:hover {
  background: var(--primary-color);
}

.border-light {
  border-color: #a7bcb9 !important;
}
.about-section-content {
  padding: 100px 20px;
}
.about-section-content h1 {
  font-size: 64px;
}
.about-section-content h2 {
  text-align: left;
  font-size: 30px;
}
/*MEDIA*/

@media (max-width: 768px) {
  h1 {
    font-size: 70px;
    text-align: center;
  }
  .hero {
    padding: 50px;
  }
  .about-section-content h1 {
    text-align: left;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    text-align: center;
  }
  p {
    font-size: 12px;
  }
  .btn-branding {
    background: var(--primary-color);
    border-radius: 12px;
    color: var(--btn-text-color);
    font-size: 12px;
    line-height: 15px;
    padding: 10px 10px;
    font-family: var(--content-font);
    box-shadow: var(--box-shadow);
    min-width: 150px;
    margin: 10px;
  }
  .main img {
    display: none;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
    margin-top: 0;
  }
  .about-section-content {
    padding: 50px 10px;
  }
}
