:root {
  --heading-font: "Allerta Stencil", sans-serif;
  --content-font: "Prompt", sans-serif;
  --primary-color: #ffac41;
  --secondary-color: #323232;
  --content-color: #ff1e56;
  --btn-text-color: #000000;
}
body {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--primary-color);
}

h1 {
  font-size: 90px;
}
p,
a,
ul {
  font-family: var(--content-font);
  color: var(--content-color);
  line-height: 2;
}

.hero {
  padding: 160px;
  text-align: center;
  background: var(--secondary-color);
}
.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: var(--btn-text-color);
  font-size: 16px;
  line-height: 15px;
  padding: 10px 20px;
  font-family: var(--content-font);
}

.btn-branding:hover {
  background: var(--primary-color);
}
